*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    

}
body{
    background-color: white;
    color: black;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 80px;
    background: linear-gradient(90deg, blue 0%, lightblue 100%);
    position: relative;
    z-index: 1;

}
.logo{
    font-size: 26px;
    font-weight: 600;

}
nav a{
    margin-left:30px;
    text-decoration: none;
    color:grey;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.hire-btn{
    font-weight: 500;
    position: relative;
    z-index: 2;
}
.hero{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:60px 80px;
    position: relative;
    z-index: 1;
}
.hero-text{
    max-width:480px;
    position: relative;
    z-index: 2;
}
.hero-text h1 span {
    color: #f28c38;
    position: relative;
    z-index: 2;
}

.hero-text p {
    margin: 20px 0 30px;
    color: #666;
    line-height: 1.6;

}

.hero-text button {
    padding: 12px 26px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

}
.socials{
    margin-top: 40px;
    position: relative;
    z-index: 2;
}
.socials span{
    margin-right:20px;
    font-weight: 500;
    color:grey;
    cursor:pointer;

}
.hero-image{
    position:relative;
    width:420px;

}
.hero-image img{
    width:100%;
    position:relative;
    z-index:2;
}
.blob{
    position: absolute;
    top:40px;
    left:40px;
    width:360px;
    height:360px;
    background-color: orange;
    border-radius: 60% 40% 55% 45%;
    z-index:1;
}
@media (max-width: 768px){
    .header{
        padding:20px 40px;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-text{
        max-width:100%;
    }
    .hero-image{
        margin-bottom:40px;
        width:300px;
    }
    .blob{
        top:20px;
        left:calc(50% - 180px);
        width:300px;
        height:300px;
    }
}
